/* html {
  box-sizing: border-box;
} */

html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;
} */

body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;
  margin: 0;
  color: white;
  text-align: center;
}

div.classNames {
  background: #2875ed;
}

.list {
  list-style: none;
}

.project-flex {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  margin-left: -15px;
  justify-content: center;
}

.project-flex .item {
  margin-left: 15px; /*Для калькуляции*/
  margin-bottom: 10px;
  margin-top: 15px;
  flex-basis: calc(100% / 4 - 15px); /*Для калькуляции*/
  border: 1px solid #eeeeee;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-flex .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-photo {
  position: relative;
  overflow: hidden;
}

.size {
  width: 265px;
  height: 240px;
}

.photo {
  height: 170px;
  object-fit: cover;
}

.stats-item {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  color: limegreen;
  font-size: 12px;
}

.button-box {
  text-align: center;
  padding-bottom: 15px;
}

.btn {
  display: inline;
}

.hiden {
  display: none;
}

.box {
  padding-top: 30px;
}
